name: Linux Build

on:
  push:
    branches:
      - main
jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      issues: write

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '20.10.0'

      - name: Install dependencies
        run: npm install

      - name: Build Electron App
        run: npm run publish
        env:
          CI: true

  build-win:
    runs-on: windows-latest
    permissions:
      contents: write
      packages: write
      issues: write

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '20.10.0'

      - name: Install dependencies
        run: npm install

      - name: Build Electron App
        run: npm run publish
        env:
          CI: true


